@mixin button-pseudo-classes {
  &:hover,
  &[data-pseudo-hover] {
    opacity: 0.8;
  }

  &:active,
  &[data-pseudo-active] {
    opacity: 0.6;
  }

  &:disabled,
  &[data-pseudo-disabled] {
    cursor: auto;
    opacity: 0.3;
  }
}

.a-button {
  align-items: center;
  background: var(--vkui--color_background_secondary_alpha);
  border: none;
  border-radius: var(--vkui--size_border_radius--regular, 8px);
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: var(--vkui--font_headline1--font_size--compact);
  font-weight: var(--vkui--font_weight_accent2);
  justify-content: center;
  line-height: var(--vkui--font_headline1--line_height--compact);
  min-height: var(--vkui--size_button_large_height--compact);
  padding: 4px;
  width: max-content;

  @include button-pseudo-classes;

  &[data-type="accent"] {
    background-color: var(--vkui--color_background_accent_themed);
    color: var(--vkui--color_background_content);
  }

  &[data-size="middle"] {
    min-height: 26px;
  }

  &[data-color="green"] {
    background: var(--a-rectangle-block-background__green);
  }

  &[data-color="red"] {
    background: var(--a-rectangle-block-background__red);
  }
}

.a-button__block {
  justify-content: flex-start;
  width: 100%;
}

.a-button__mini {
  font-size: 10px;
}

.a-button__icon {
  color: currentColor;

  &[data-has-content="true"] {
    margin: 0 5px 0 0;
  }
}

.a-button__inline {
  display: inline-block;
}

.a-button__opacity {
  background: transparent;
  border: none;
  cursor: pointer;
}

.a-button__left-content-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  width: max-content;
}

.a-button__left-content {
  justify-content: left;
  max-width: 100%;
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
}
