@import "src/styles/helpers";
@import "src/styles/icons";

@mixin button-pseudo-classes {
  &:hover,
  &[data-pseudo-hover] {
    opacity: 0.8;
  }

  &:active,
  &[data-pseudo-active] {
    opacity: 0.6;
  }

  &:disabled,
  &[data-pseudo-disabled] {
    cursor: auto;
    opacity: 0.3;
  }
}

.a-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  color: inherit;
  background: var(--vkui--color_background_secondary_alpha);
  border-radius: var(--vkui--size_border_radius--regular, 8px);
  border: none;
  cursor: pointer;
  padding: 4px;
  line-height: var(--vkui--font_headline1--line_height--compact);
  font-size: var(--vkui--font_headline1--font_size--compact);
  font-weight: var(--vkui--font_weight_accent2);
  min-height: var(--vkui--size_button_large_height--compact);

  @include button-pseudo-classes;

  &[data-type="accent"] {
    color: var(--vkui--color_background_content);
    background-color: var(--vkui--color_background_accent_themed);
  }

  &[data-size="middle"] {
    min-height: 26px;
  }

  &[data-color="green"] {
    background: var(--a-rectangle-block-background__green);
  }

  &[data-color="red"] {
    background: var(--a-rectangle-block-background__red);
  }
}

.a-button__block {
  width: 100%;
  justify-content: flex-start;
}

.a-button__mini {
  font-size: 10px;
}

.a-button__icon {
  color: currentColor;

  &[data-has-content="true"] {
    margin: 0 5px 0 0;
  }
}

.a-button__inline {
  display: inline-block;
}

.a-button__opacity {
  @extend .a-icon;
  @extend .pointer;

  background: transparent;
  border: none;
}

.a-button__left-content-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
  max-width: 100%;
}

.a-button__left-content {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  max-width: 100%;
  justify-content: left;
}
