.v-breadcrumbs-item {
  flex-grow: 1;
  max-width: max-content;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-dialog > .v-overlay__content > .v-card > .v-card-actions,
.v-dialog > .v-overlay__content > form > .v-card > .v-card-actions {
  padding-inline: 24px;
}

body {
  .v-theme--light {
    --v-high-emphasis-opacity: 1;
    --v-theme-on-surface-variant: 245,245,245;
  }
  .v-card-subtitle {
    opacity: 1;
  }
  .v-label {
    opacity: 1;
  }
}
