.v-breadcrumbs-item {
  flex-grow: 1;
  max-width: max-content;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-breadcrumbs.v-breadcrumbs--density-compact {
  padding-left: 0;
  padding-top: 12px;
}

.v-dialog > .v-overlay__content > .v-card > .v-card-actions,
.v-dialog > .v-overlay__content > form > .v-card > .v-card-actions {
  padding-inline: 24px;
}

body {
  .v-theme--light {
    --v-high-emphasis-opacity: 1;
    --v-theme-on-surface-variant: 245, 245, 245;
  }

  .v-card-subtitle {
    opacity: 1;
  }

  .v-label {
    opacity: 1;
  }
}

.v-btn {
  svg {
    // убирает title от иконок при наведении на кнопку
    pointer-events: none;
  }
}

.v-icon {
  svg {
    width: 1em;
    height: 1em;
  }
}
