@use "sass:meta";

@include meta.load-css("@/styles/variables");
@include meta.load-css("@/styles/helpers");
@include meta.load-css("@/styles/vuetify");
@include meta.load-css("@/styles/inputs");

:root {
  background: var(--vkui--color_background_content);
  -webkit-font-smoothing: antialiased;

  font-synthesis: none;

  font-weight: 400;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  * {
    box-sizing: border-box;
    font-family: var(--vkui--font_family_base);
  }
}

html,
pre {
  margin: 0;
  padding: 0;
}

pre {
  overflow: auto;
}

html,
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background: black;
  font-family: var(--vkui--font_text--font_family--regular);
  height: 100vh;
  width: 100vw;
}

body {
  background: var(--vkui--color_background_content);
  margin: 0;
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.border {
  border-color: var(--border-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.mx-context-menu.mac .mx-context-menu-item,
.mx-menu-bar.mac .mx-context-menu-item {
  padding: 10px 6px;
}

div,
img {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  max-width: inherit;
  overflow: inherit;
  text-decoration: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  white-space: inherit;
}

code.vkuiFormField--status-error {
  padding: 10px;
}

div,
span {
  text-wrap: pretty;
}
